# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment variables
.env

# Visual Studio Code
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db